<a href="https://colab.research.google.com/github/LumaLynai/Etlsolo/blob/main/atividadesolo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install pandas
!pip install gcsfs

In [ ]:
!pip install pyspark

In [ ]:
!pip install dnspython

In [ ]:
!pip install pymongo[srv]

In [ ]:
import pandas as pd
import psycopg2
import requests
import pymongo
import gcsfs
import os 
import csv

In [ ]:
from pymongo import MongoClient
from google.cloud import storage

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.window import *
from pyspark.sql.types import *
from pyspark import SparkConf
import pyspark.sql.functions as F 
import pyspark.sql.window as w

# Gcp

In [ ]:
serviceAccount = r'***'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
client = storage.Client()
bucket= client.get_bucket('dadosolo')
bucket.blob('marketing_campaign.csv')
path = 'gs://dadosolo/dadosbrutos/marketing_campaign.csv'
df_cadastro=pd.read_csv(path,sep=";")

#  **Pandas**

## Conectando Mondodb Atlas

In [ ]:
conect =('***')

In [ ]:
cliente= MongoClient(conect)

In [ ]:
db=cliente['cadastro']
inseri=db.create_collection('colecaocadastro')

In [ ]:
df_dict=df_cadastro.to_dict('records')
inseri.insert_many(df_dict)

##conectando para extrair

In [ ]:
cursor = db['colecaocadastro'].find()

In [ ]:
df_extrai = pd.DataFrame(cursor)

##criando uma copia

In [ ]:
df = df_extrai.copy()

#Tratamento de dados

In [ ]:
df.info()

##Apenas para trabalhar no csv

In [ ]:
df = pd.read_csv ('/content/drive/MyDrive/ColabNotebooks/marketing_campaign.csv',sep=";")

##Forçando o DataFrame mostrar todas as colunas

In [ ]:
pd.set_option('display.max_columns',32)

# **Rename**
Tradução de colunas

##Colunas renomeadas 2 ao 9

2.Year_Birth == Dt_nasci |
3.Education	== Escolaridade |
4.Marital_Status == Est_civil |
5.Income == Renda_famil |
6.Kidhome == Qtd_crianCasa |
7.Teenhome == Qtd_adolcasa |
8.Dt_Customer	== Dt_cadastro | 
9.Recency == IntervaloUltimaCompra |

In [ ]:
df.rename(columns = {'Year_Birth':'Ano_nasci','Education':'Escolaridade','Marital_Status':'Est_civil','Income':'Renda_famil','Kidhome':'CriancaCasa','Teenhome':'AdolecenteCasa','Dt_Customer':'Dt_cadastro','Recency':'IntervaloUltimaCompra '},inplace=True)

##Colunas renomeadas 10 ao 15

10.MntWines 	== Gasto_vinho |
11.MntFruits	 == Gasto_fruta |
12.MntMeatProducts	== Gasto_carne | 
13.MntFishProducts	== Gasto_peixe |
14.MntSweetProducts == Gasto_doce |
15.MntGoldProds == Gasto_ouro |

In [ ]:
df.rename(columns={'MntWines':'Gasto_vinho','MntFruits':'Gasto_fruta','MntMeatProducts':'Gasto_carne','MntFishProducts':'Gasto_peixe' ,'MntSweetProducts':'Gasto_doce','MntGoldProds':'Gasto_ouro'},inplace=True)

##Colunas renomeadas 16 ao 20

16.NumDealsPurchases == CompraComDesconto |
17.NumWebPurchases == CompraSite |
18.NumCatalogPurchases == CompraCatalogo |
19.NumStorePurchases == CompraLoja |
20.NumWebVisitsMonth == VisitaSite

In [ ]:
df.rename(columns={'NumDealsPurchases':'CompraComDesconto','NumWebPurchases':'CompraSite','NumCatalogPurchases':'CompraCatalogo','NumStorePurchases':'CompraLoja','NumWebVisitsMonth':'VisitaSite'},inplace=True)

##Colunas renomeadas 21 ao 25

21.AcceptedCmp3 == Oferta3aCompra |
22.AcceptedCmp4 == Oferta4aCompra  |
23.AcceptedCmp5 == Oferta5aCompra |
24.AcceptedCmp1 == Oferta1aCompra |
25.AcceptedCmp2 == Oferta2aCompra

In [ ]:
df.rename(columns={'AcceptedCmp3':'Oferta3aCompra','AcceptedCmp4':'Oferta4aCompra','AcceptedCmp5':'Oferta5aCompra','AcceptedCmp1':'Oferta1aCompra','AcceptedCmp2':'Oferta2aCompra'},inplace=True)

## Colunas renomeadas 26 ao 29

26.Complain == Reclamacao |
27.Z_CostContact == CustoContato |
28.Z_Revenue	== Receita  |
29.Response == OfertaUltimaCompra

In [ ]:
df.rename(columns={'Complain':'Reclamacao','Z_CostContact':'CustoContato','Z_Revenue':'Receita','Response':'OfertaUltimaCompra'},inplace=True)

# **Replace**
Tradução de valores

## Traduzindo valores das colunas

In [ ]:
df['Escolaridade'].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

### **Coluna Escolaridade**
* Graduation== Graduado
* Master == Mestre
* Basic == EducacaoBasica[texto do link](https://)
* 2n Cycle== Pos_GraduadoMestre

In [ ]:
df['Escolaridade']=(df['Escolaridade'].replace({'Graduation':'Graduado','Master':'Mestre','Basic':'EducacaoBasica','2n Cycle':'Pos_GraduadoMestre'}))

### **Coluna Est_civil**

Single == Solteiro |
Together == União estável |
Married == Casado |
Divorced == Divorciado |
Widow == Viúvo |
Alone == Solteiro  |
Absurd == Solteiro  |
YOLO  == Solteiro  |

In [ ]:
df['Est_civil']=(df['Est_civil'].replace({'Single':'Solteiro','Together':'União estável','Married':'Casado','Divorced':'Divorciado','Widow':'Viúvo','Alone':'Solteiro','Absurd':'Solteiro','YOLO':'Solteiro'}))

# **info**

In [ ]:
df.info()

# **isnull**

In [ ]:
df.isnull().sum()

ID                         0
Ano_nasci                  0
Escolaridade               0
Est_civil                  0
Renda_famil               24
CriancaCasa                0
AdolecenteCasa             0
Dt_cadastro                0
IntervaloUltimaCompra      0
Gasto_vinho                0
Gasto_fruta                0
Gasto_carne                0
Gasto_peixe                0
Gasto_doce                 0
Gasto_ouro                 0
CompraComDesconto          0
CompraSite                 0
CompraCatalogo             0
CompraLoja                 0
VisitaSite                 0
Oferta3aCompra             0
Oferta4aCompra             0
Oferta5aCompra             0
Oferta1aCompra             0
Oferta2aCompra             0
Reclamacao                 0
CustoContato               0
Receita                    0
OfertaUltimaCompra         0
dtype: int64

##Salvando em csv

In [ ]:
df.to_csv("RenomeadoColunaValor.csv")

# **Pyspark**

##**Structype**

In [ ]:
esquema =(
    StructType([
                StructField('Ano_nasci',IntegerType(),True),
                StructField('Escolaridade',StringType(),True),
                StructField('Est_civil',StringType(), True),
                StructField('Renda_famil',DoubleType(),True),
                StructField('CriancaCasa', IntegerType() , True),
                StructField('AdolecenteCasa', IntegerType() , True),
                StructField('Dt_cadastro', StringType() , True),
                StructField('IntervaloUltimaCompra', IntegerType() , True),
                StructField('Gasto_vinho', IntegerType() , True),
                StructField('Gasto_fruta', IntegerType() , True),
                StructField('Gasto_carne', IntegerType() , True),
                StructField('Gasto_peixe', IntegerType() , True),
                StructField('Gasto_doce', IntegerType() , True),
                StructField('Gasto_ouro', IntegerType() , True),
                StructField('CompraComDesconto', IntegerType() , True),
                StructField('CompraSite', IntegerType() , True),
                StructField('CompraCatalogo', IntegerType() , True),
                StructField('CompraLoja', IntegerType() , True),
                StructField('VisitaSite', IntegerType() , True),
                StructField('Oferta3aCompra', IntegerType() , True),
                StructField('Oferta4aCompra', IntegerType() , True),
                StructField('Oferta5aCompra', IntegerType() , True),
                StructField('Oferta1aCompra', IntegerType() , True),
                StructField('Oferta2aCompra', IntegerType() , True),
                StructField('Reclamacao', IntegerType() , True),
                StructField('CustoContato', IntegerType() , True),
                StructField('Receita', IntegerType() , True),
                StructField('OfertaUltimaCompra', IntegerType() , True),
                
    ])
)

##conexão com o SparkSession

In [ ]:
spark = (SparkSession.builder
                      .master('local')
                      .appName('ativSolo')
                      .config('spark.ui.port','4050')
                      .config('spark.jars','https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                      .getOrCreate()
                      )

Abrindo o doc com pyspark

In [ ]:
df_spark=(spark.read.format('csv')
                    .option('delimiter',',')
                    .option('header','true')
                    .option('inferschema','true')
                    .load('/content/drive/MyDrive/RenomeadoColunaValor.csv',schema= esquema)
    
)

In [ ]:
df_spark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Ano_nasci: integer (nullable = true)
 |-- Escolaridade: string (nullable = true)
 |-- Est_civil: string (nullable = true)
 |-- Renda_famil: double (nullable = true)
 |-- CriancaCasa: integer (nullable = true)
 |-- AdolecenteCasa: integer (nullable = true)
 |-- Dt_cadastro: string (nullable = true)
 |-- IntervaloUltimaCompra : integer (nullable = true)
 |-- Gasto_vinho: integer (nullable = true)
 |-- Gasto_fruta: integer (nullable = true)
 |-- Gasto_carne: integer (nullable = true)
 |-- Gasto_peixe: integer (nullable = true)
 |-- Gasto_doce: integer (nullable = true)
 |-- Gasto_ouro: integer (nullable = true)
 |-- CompraComDesconto: integer (nullable = true)
 |-- CompraSite: integer (nullable = true)
 |-- CompraCatalogo: integer (nullable = true)
 |-- CompraLoja: integer (nullable = true)
 |-- VisitaSite: integer (nullable = true)
 |-- Oferta3aCompra: integer (nullable = true)
 |-- Oferta4aCompra: integer (nullable = true)
 |-- Oferta5aCompra: integer (nullable = true)
 |-- Oferta1aCompra: integer (nullable = true)
 |-- Oferta2aCompra: integer (nullable = true)
 |-- Reclamacao: integer (nullable = true)
 |-- CustoContato: integer (nullable = true)
 |-- Receita: integer (nullable = true)
 |-- OfertaUltimaCompra: integer (nullable = true)

In [ ]:
df_spark.show()

+---+----+---------+------------------+-------------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
|_c0|  ID|Ano_nasci|      Escolaridade|    Est_civil|Renda_famil|CriancaCasa|AdolecenteCasa|Dt_cadastro|IntervaloUltimaCompra |Gasto_vinho|Gasto_fruta|Gasto_carne|Gasto_peixe|Gasto_doce|Gasto_ouro|CompraComDesconto|CompraSite|CompraCatalogo|CompraLoja|VisitaSite|Oferta3aCompra|Oferta4aCompra|Oferta5aCompra|Oferta1aCompra|Oferta2aCompra|Reclamacao|CustoContato|Receita|OfertaUltimaCompra|
+---+----+---------+------------------+-------------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
|  0|5524|     1957|          Graduado|     Solteiro|    58138.0|          0|             0| 2012-09-04|                    58|        635|         88|        546|        172|        88|        88|                3|         8|            10|         4|         7|             0|             0|             0|             0|             0|         0|           3|     11|                 1|
|  1|2174|     1954|          Graduado|     Solteiro|    46344.0|          1|             1| 2014-03-08|                    38|         11|          1|          6|          2|         1|         6|                2|         1|             1|         2|         5|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
|  2|4141|     1965|          Graduado|União estável|    71613.0|          0|             0| 2013-08-21|                    26|        426|         49|        127|        111|        21|        42|                1|         8|             2|        10|         4|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
|  3|6182|     1984|          Graduado|União estável|    26646.0|          1|             0| 2014-02-10|                    26|         11|          4|         20|         10|         3|         5|                2|         2|             0|         4|         6|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
|  4|5324|     1981|               PhD|       Casado|    58293.0|          1|             0| 2014-01-19|                    94|        173|         43|        118|         46|        27|        15|                5|         5|             3|         6|         5|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
|  5|7446|     1967|            Mestre|União estável|    62513.0|          0|             1| 2013-09-09|                    16|        520|         42|         98|          0|        42|        14|                2|         6|             4|        10|         6|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
|  6| 965|     1971|          Graduado|   Divorciado|    55635.0|          0|             1| 2012-11-13|                    34|        235|         65|        164|         50|        49|        27|                4|         7|             3|         7|         6|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
|  7|6177|     1985|               PhD|       Casado|    33454.0|          1|             0| 2013-05-08|                    32|         76|         10|         56|          3|         1|        23|                2|         4|             0|         4|         8|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
|  8|4855|     1974|               PhD|União estável|    30351.0|          1|             0| 2013-06-06|                    19|         14|          0|         24|          3|         3|         2|                1|         3|             0|         2|         9|             0|             0|             0|             0|             0|         0|           3|     11|                 1|
|  9|5899|     1950|               PhD|União estável|     5648.0|          1|             1| 2014-03-13|                    68|         28|          0|          6|          1|         1|        13|                1|         1|             0|         0|        20|             1|             0|             0|             0|             0|         0|           3|     11|                 0|
| 10|1994|     1983|          Graduado|       Casado|        0.0|          1|             0| 2013-11-15|                    11|          5|          5|          6|          0|         2|         1|                1|         1|             0|         2|         7|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
| 11| 387|     1976|    EducacaoBasica|       Casado|     7500.0|          0|             0| 2012-11-13|                    59|          6|         16|         11|         11|         1|        16|                1|         2|             0|         3|         8|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
| 12|2125|     1959|          Graduado|   Divorciado|    63033.0|          0|             0| 2013-11-15|                    82|        194|         61|        480|        225|       112|        30|                1|         3|             4|         8|         2|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
| 13|8180|     1952|            Mestre|   Divorciado|    59354.0|          1|             1| 2013-11-15|                    53|        233|          2|         53|          3|         5|        14|                3|         6|             1|         5|         6|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
| 14|2569|     1987|          Graduado|       Casado|    17323.0|          0|             0| 2012-10-10|                    38|          3|         14|         17|          6|         1|         5|                1|         1|             0|         3|         8|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
| 15|2114|     1946|               PhD|     Solteiro|    82800.0|          0|             0| 2012-11-24|                    23|       1006|         22|        115|         59|        68|        45|                1|         7|             6|        12|         3|             0|             0|             1|             1|             0|         0|           3|     11|                 1|
| 16|9736|     1980|          Graduado|       Casado|    41850.0|          1|             1| 2012-12-24|                    51|         53|          5|         19|          2|        13|         4|                3|         3|             0|         3|         8|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
| 17|4939|     1946|          Graduado|União estável|    37760.0|          0|             0| 2012-08-31|                    20|         84|          5|         38|        150|        12|        28|                2|         4|             1|         6|         7|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
| 18|6565|     1949|            Mestre|       Casado|    76995.0|          0|             1| 2013-03-28|                    91|       1012|         80|        498|          0|        16|       176|                2|        11|             4|         9|         5|             0|             0|             0|             1|             0|         0|           3|     11|                 0|
| 19|2278|     1985|Pos_GraduadoMestre|     Solteiro|    33812.0|          1|             0| 2012-11-03|                    86|          4|         17|         19|         30|        24|        39|                2|         2|             1|         3|         6|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
+---+----+---------+------------------+-------------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
only showing top 20 rows

# **Distinct**

## Verificando valores distintos colunas

In [ ]:
df_spark.select('Dt_cadastro').distinct().show(670)

In [ ]:
df_spark.select('Renda_famil').distinct().count()

1975

In [ ]:
df_spark.select('Est_civil').distinct().show()

+-------------+
|    Est_civil|
+-------------+
|        Viúvo|
|   Divorciado|
|União estável|
|     Solteiro|
|       Casado|
+-------------+

In [ ]:
df_spark.select('Escolaridade').distinct().show()

+------------------+
|      Escolaridade|
+------------------+
|    EducacaoBasica|
|               PhD|
|            Mestre|
|Pos_GraduadoMestre|
|          Graduado|
+------------------+

In [ ]:
df_spark.select('Oferta3aCompra').distinct().show()

+--------------+
|Oferta3aCompra|
+--------------+
|             1|
|             0|
+--------------+

In [ ]:
df_spark.select('Oferta4aCompra').distinct().show()

+--------------+
|Oferta4aCompra|
+--------------+
|             1|
|             0|
+--------------+

In [ ]:
df_spark.select('Oferta5aCompra').distinct().show()

+--------------+
|Oferta5aCompra|
+--------------+
|             1|
|             0|
+--------------+

In [ ]:
df_spark.select('Oferta2aCompra').distinct().show()

+--------------+
|Oferta2aCompra|
+--------------+
|             1|
|             0|
+--------------+

In [ ]:
df_spark.select('Oferta1aCompra').distinct().show()

+--------------+
|Oferta1aCompra|
+--------------+
|             1|
|             0|
+--------------+

In [ ]:
df_spark.select('Reclamacao').distinct().show()

+----------+
|Reclamacao|
+----------+
|         1|
|         0|
+----------+

In [ ]:
df_spark.select('custocontato').distinct().show()

+------------+
|custocontato|
+------------+
|           3|
+------------+

In [ ]:
df_spark.select('Receita').distinct().show()

+-------+
|Receita|
+-------+
|     11|
+-------+

In [ ]:
df_spark.select('Compracomdesconto').distinct().show()

+-----------------+
|Compracomdesconto|
+-----------------+
|               12|
|                1|
|               13|
|                6|
|                3|
|                5|
|               15|
|                9|
|                4|
|                8|
|                7|
|               10|
|               11|
|                2|
|                0|
+-----------------+

In [ ]:
df_spark.select('Ofertaultimacompra').distinct().show()

+------------------+
|Ofertaultimacompra|
+------------------+
|                 1|
|                 0|
+------------------+

In [ ]:
df_spark.show(2)

+---+----+---------+------------+---------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
|_c0|  ID|Ano_nasci|Escolaridade|Est_civil|Renda_famil|CriancaCasa|AdolecenteCasa|Dt_cadastro|IntervaloUltimaCompra |Gasto_vinho|Gasto_fruta|Gasto_carne|Gasto_peixe|Gasto_doce|Gasto_ouro|CompraComDesconto|CompraSite|CompraCatalogo|CompraLoja|VisitaSite|Oferta3aCompra|Oferta4aCompra|Oferta5aCompra|Oferta1aCompra|Oferta2aCompra|Reclamacao|CustoContato|Receita|OfertaUltimaCompra|
+---+----+---------+------------+---------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
|  0|5524|     1957|    Graduado| Solteiro|    58138.0|          0|             0| 2012-09-04|                    58|        635|         88|        546|        172|        88|        88|                3|         8|            10|         4|         7|             0|             0|             0|             0|             0|         0|           3|     11|                 1|
|  1|2174|     1954|    Graduado| Solteiro|    46344.0|          1|             1| 2014-03-08|                    38|         11|          1|          6|          2|         1|         6|                2|         1|             1|         2|         5|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
+---+----+---------+------------+---------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
only showing top 2 rows

# **Filter**


##Escolaridade & Est_civil & Renda_famil

### Graduado == 11  capos vazios 0.7%
* União estável == 1
* Solteiro == 6
* Casado == 4

In [ ]:
df_spark.filter((F.col('Escolaridade')=='Graduado') & (F.col('Est_civil')=='União estável')&(F.col('Renda_famil')==0)).count()

1

In [ ]:
df_spark.filter((F.col('Escolaridade')=='Graduado') & (F.col('Est_civil')=='Solteiro')&(F.col('Renda_famil')==0)).count()

6

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Graduado') & (F.col('Est_civil')=='Casado')&(F.col('Renda_famil')==0)).count()

4

### Graduando == 1406 total
* União estavel == 286 
* Solteiro == 254
* Casado == 433

In [ ]:
df_spark.filter((F.col('Escolaridade')=='Graduado') & (F.col('Est_civil')=='União estável')).count()

286

In [ ]:
df_spark.filter((F.col('Escolaridade')=='Graduado') & (F.col('Est_civil')=='Solteiro')).count()

254

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Graduado') & (F.col('Est_civil')=='Casado')).count()

433

### Pós_GraduadoMestre == 3 campos vazios 1.7%
* Casado ==1
* Solteiro ==1
* União estavel == 1

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Pos_GraduadoMestre') & (F.col('Est_civil')=='Casado')&(F.col('Renda_famil')==0)).count()

1

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Pos_GraduadoMestre') & (F.col('Est_civil')=='Solteiro')&(F.col('Renda_famil')==0)).count()

1

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Pos_GraduadoMestre') & (F.col('Est_civil')=='União estável')&(F.col('Renda_famil')==0)).count()

1

### Pós_GraduadoMestre == 175 total
* Casado ==  81
* Solteiro == 37
* União estavel == 57

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Pos_GraduadoMestre') & (F.col('Est_civil')=='Casado')).count()

81

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Pos_GraduadoMestre') & (F.col('Est_civil')=='Solteiro')).count()

37

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Pos_GraduadoMestre') & (F.col('Est_civil')=='União estável')).count()

57

### Mestre == 5 campo vazio  4.2%
* Viúvo==1
* União estável == 4

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Mestre') & (F.col('Est_civil')=='Viúvo')&(F.col('Renda_famil')==0)).count()

1

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Mestre') & (F.col('Est_civil')=='União estável')&(F.col('Renda_famil')==0)).count()

4

### Mestre == 118 total
* Viúvo==12
* União estável == 106

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Mestre') & (F.col('Est_civil')=='Viúvo')).count()

12

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='Mestre') & (F.col('Est_civil')=='União estável')).count()

106

### PhD == 5 total 1.2%
* União estável == 1
* Solteiro == 2
* Casado == 2

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='PhD') & (F.col('Est_civil')=='União estável')&(F.col('Renda_famil')==0)).count()

1

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='PhD') & (F.col('Est_civil')=='Solteiro')&(F.col('Renda_famil')==0)).count()

2

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='PhD') & (F.col('Est_civil')=='Casado')&(F.col('Renda_famil')==0)).count()

2

### PhD == 410 total
* União estável == 117
* Solteiro == 101
* Casado == 192

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='PhD') & (F.col('Est_civil')=='União estável')).count()

117

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='PhD') & (F.col('Est_civil')=='Solteiro')).count()

101

In [ ]:
 df_spark.filter((F.col('Escolaridade')=='PhD') & (F.col('Est_civil')=='Casado')).count()

192

## filtro para contagem de valores 
* Oferta3aCompra 1 == 7.3%
* Oferta4aCompra 1 == 7.4%
* Oferta5aCompra 1 == 7.3%
* Oferta1aCompra 1 == 6.4%
* Oferta2aCompra 1 == 7.3%

In [ ]:
 df_spark.filter(F.col('Oferta3aCompra')==1).count()

163

In [ ]:
 df_spark.filter(F.col('Oferta4aCompra')==1).count()

167

In [ ]:
 df_spark.filter(F.col('Oferta5aCompra')==1).count()

163

In [ ]:
 df_spark.filter(F.col('Oferta1aCompra')==1).count()

144

In [ ]:
 df_spark.filter(F.col('Oferta3aCompra')==1).count()

163

In [ ]:
 df_spark.filter(F.col('OfertaUltimaCompra')==1).count()

334

In [ ]:
 df_spark.filter(F.col('Custocontato')==3).count()

2240

In [ ]:
df_spark.show(2)

+---+----+---------+------------+---------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
|_c0|  ID|Ano_nasci|Escolaridade|Est_civil|Renda_famil|CriancaCasa|AdolecenteCasa|Dt_cadastro|IntervaloUltimaCompra |Gasto_vinho|Gasto_fruta|Gasto_carne|Gasto_peixe|Gasto_doce|Gasto_ouro|CompraComDesconto|CompraSite|CompraCatalogo|CompraLoja|VisitaSite|Oferta3aCompra|Oferta4aCompra|Oferta5aCompra|Oferta1aCompra|Oferta2aCompra|Reclamacao|CustoContato|Receita|OfertaUltimaCompra|
+---+----+---------+------------+---------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
|  0|5524|     1957|    Graduado| Solteiro|    58138.0|          0|             0| 2012-09-04|                    58|        635|         88|        546|        172|        88|        88|                3|         8|            10|         4|         7|             0|             0|             0|             0|             0|         0|           3|     11|                 1|
|  1|2174|     1954|    Graduado| Solteiro|    46344.0|          1|             1| 2014-03-08|                    38|         11|          1|          6|          2|         1|         6|                2|         1|             1|         2|         5|             0|             0|             0|             0|             0|         0|           3|     11|                 0|
+---+----+---------+------------+---------+-----------+-----------+--------------+-----------+----------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------+-------+------------------+
only showing top 2 rows

#**Drop**

## Drop de  linhas com valor vazio == 1%

In [ ]:
df_spark.filter(F.col('Renda_famil')==0).count()

0

In [ ]:
df_spark = df_spark.filter(df_spark.Renda_famil != 0)

## Drop Coluna
* CustoContato valor unico 3
* Receita valor unico 11

In [ ]:
df_spark = df_spark.drop(F.col('CustoContato'))

In [ ]:
df_spark = df_spark.drop(F.col('Receita'))

# **withColumnRenamed**

## Colunas renomeadas
* Ano_nasci = AnoNascimento
* Est_civil = EstadoCivil
* Renda_famil = RendaFamilia
* Dt_cadastro = DataCadastro 
* CriancaCasa = FilhoCrianca
* AdolecenteCasa = FilhoAdolecente

In [ ]:
df_spark=(df_spark.withColumnRenamed("Ano_nasci","AnoNascimento")
        .withColumnRenamed("Est_civil","EstadoCivil")
        .withColumnRenamed("Renda_famil","RendaFamilia")
        .withColumnRenamed("Dt_cadastro","DataCadastro")
        .withColumnRenamed("CriancaCasa","FilhoCrianca")
        .withColumnRenamed("AdolecenteCasa","FilhoAdolecente")
)

# **Select e alias** 
Criação de colunas

\## **Colunas Criadas**
* TotalGasto
* TotaldeCompra
* TotalOferta

### Colunas usadas
* Gasto_vinho
* Gasto_fruta
* Gasto_carne
* Gasto_peixe
* Gasto_doce
* Gasto_ouro

In [ ]:
df_spark=df_spark.select('*',
               (df_spark["Gasto_vinho"]+
                df_spark["Gasto_fruta"]+
                df_spark["Gasto_carne"]+
                df_spark["Gasto_peixe"]+
                df_spark["Gasto_doce"]+
                df_spark["Gasto_ouro"])
                .alias("TotalGasto")
)

### Colunas usadas == TotaldeCompra
* CompraSite
* CompraCatalogo
* CompraLoja

In [ ]:
df_spark=df_spark.select('*',
               (df_spark["CompraSite"]+
                df_spark["CompraCatalogo"]+
                df_spark["CompraLoja"])
                .alias("TotaldeCompra")
)

### Colunas usadas == TotalOferta
* Oferta1aCompra
* Oferta2aCompra
* Oferta3aCompra
* Oferta4aCompra
* Oferta5aCompra

In [ ]:
df_spark=df_spark.select('*',
               (df_spark["Oferta1aCompra"]+
                df_spark["Oferta2aCompra"]+
                df_spark["Oferta3aCompra"]+
                df_spark["Oferta4aCompra"]+
                df_spark["Oferta5aCompra"])
                .alias("TotalOferta")
)

# **OrderBy**
* Colunas
Escolaridade, EstadoCivil, DataCadastro

In [ ]:
df_spark.orderBy(F.col('Escolaridade'),F.col('EstadoCivil'),F.col('DataCadastro'))

DataFrame[_c0: int, ID: int, AnoNascimento: int, Escolaridade: string, EstadoCivil: string, RendaFamilia: double, FilhoCrianca: int, FilhoAdolecente: int, DataCadastro: string, IntervaloUltimaCompra : int, Gasto_vinho: int, Gasto_fruta: int, Gasto_carne: int, Gasto_peixe: int, Gasto_doce: int, Gasto_ouro: int, CompraComDesconto: int, CompraSite: int, CompraCatalogo: int, CompraLoja: int, VisitaSite: int, Oferta3aCompra: int, Oferta4aCompra: int, Oferta5aCompra: int, Oferta1aCompra: int, Oferta2aCompra: int, Reclamacao: int, OfertaUltimaCompra: int, TotalGasto: int, TotaldeCompra: int, TotalOferta: int]

# Window Function

In [ ]:
df_window = df_spark.select('Escolaridade','EstadoCivil','RendaFamilia','TotaldeCompra','TotalGasto','TotalOferta')

In [ ]:
w0 = Window.partitionBy(F.col('TotaldeCompra')).orderBy('EstadoCivil')

In [ ]:
w1 = Window.partitionBy(F.col('RendaFamilia')).orderBy('EstadoCivil')

In [ ]:
df_window.withColumn('rankdeCompra', F.rank().over(w0)).show(2)

+------------+-----------+------------+-------------+----------+-----------+------------+
|Escolaridade|EstadoCivil|RendaFamilia|TotaldeCompra|TotalGasto|TotalOferta|rankdeCompra|
+------------+-----------+------------+-------------+----------+-----------+------------+
+------------+-----------+------------+-------------+----------+-----------+------------+

In [ ]:
df_window.withColumn('percentualrank', F.percent_rank().over(w1)).show()

+------------+-----------+------------+-------------+----------+-----------+--------------+
|Escolaridade|EstadoCivil|RendaFamilia|TotaldeCompra|TotalGasto|TotalOferta|percentualrank|
+------------+-----------+------------+-------------+----------+-----------+--------------+
+------------+-----------+------------+-------------+----------+-----------+--------------+

# SQL

 df_spark.filter((F.col('Escolaridade')=='PhD') & (F.col('Est_civil')=='União estável')&(F.col('Renda_famil')==0)).count()

In [ ]:
df_spark.select(F.col('FilhoCrianca'),F.col('FilhoAdolecente'),F.col('TotalGasto')).fillter("Escolaridade").groupBy("TotalCompra").show()

In [ ]:
df_spark.show(2)

+-------------+------------+-----------+------------+------------+---------------+------------+---------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------------+----------+-------------+-----------+
|AnoNascimento|Escolaridade|EstadoCivil|RendaFamilia|FilhoCrianca|FilhoAdolecente|DataCadastro|IntervaloUltimaCompra|Gasto_vinho|Gasto_fruta|Gasto_carne|Gasto_peixe|Gasto_doce|Gasto_ouro|CompraComDesconto|CompraSite|CompraCatalogo|CompraLoja|VisitaSite|Oferta3aCompra|Oferta4aCompra|Oferta5aCompra|Oferta1aCompra|Oferta2aCompra|Reclamacao|OfertaUltimaCompra|TotalGasto|TotaldeCompra|TotalOferta|
+-------------+------------+-----------+------------+------------+---------------+------------+---------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------------+----------+-------------+-----------+
+-------------+------------+-----------+------------+------------+---------------+------------+---------------------+-----------+-----------+-----------+-----------+----------+----------+-----------------+----------+--------------+----------+----------+--------------+--------------+--------------+--------------+--------------+----------+------------------+----------+-------------+-----------+

# Conexão mongodb e gcp

## Conectando e inserindo no gcp

In [ ]:
df_spark.toPandas().to_csv('gs://dadosolo/dadostratados/dadostratados.csv', index=False)

## Conectando e inserindo no mongodb

In [ ]:
pttratado ='gs://dadosolo/dadostratados/dadostratados.csv'

In [ ]:
dftratada = pd.read_csv(pttratado, sep=',')

In [ ]:
db=cliente['newcadastro']
ins=db.create_collection('newcolecao')

In [ ]:
df_dict=dftratada.to_dict('records')
ins.insert_many(df_dict)